/* styles.css */
body {
    background-image: url('https://i.postimg.cc/02mj6K9y/jigar-panchal-Dt-IMq-LVFD8s-unsplash.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

.navbar {
    position: relative; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
    width: 95%;
    backdrop-filter: blur(50px);
    border: 1px solid rgba(255, 255, 255, 0.2); 
}

.logo {
    text-align: right;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-right: auto; /* Ensures the logo is aligned to the left in mobile view */
}

.menu {
    display: flex;
    gap: 25px;
    margin-right: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.hamburger {
    display: none; 
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    margin-right: auto; /* Ensures the hamburger button is aligned to the right in mobile view */
}


/* Media Query for Mobile Devices */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center; 
        padding: 10px;
    }
    
    .menu {
        display: none;
        flex-direction: column;
        align-items: center; 
        margin-top: 10px;
    }

    .hamburger {
        display: block; 
        margin-left: auto; 
        margin-right: 20px; 
    }

    .menu.show {
        display: flex;
    }

    .logo {
        position: absolute;
        text-align: right;
        color: white;
        font-size: 20px;
        font-weight: bold;
        right:55%;
        transform: translate(-50%);
    }
}
